body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
     
}


 .flexible{
    display: flex;
    margin-bottom: 100px;

}
.half{
    width: 150%;
    padding: 2%  ;
     
}
.half img{
    width: 80%;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 200px;
    padding-left: 20px;
    
}
.link{
text-decoration:none ;
background-image: linear-gradient(orange, tomato);
padding: 10px 40px  ;
border-radius: 5px;
color: white;
font-weight: 700;
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.link2{
    text-decoration:none ;
    background-image: linear-gradient(rgb(209, 160, 69), rgb(255, 117, 93));
    padding: 10px 40px  ;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    }
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right center;
}
.full{
    width: 40%;
    margin-left: 5% ;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 20px;
    border-radius: 5px;

}
.exp{

background-image:url(images/exp-bg.png) ;
background-position: left;
background-repeat: no-repeat;
}
#stack{
     
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#noob{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}